<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<!-- ============ import common css ========== -->
<link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/layouts/main.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/navigators/navbar.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/plyr.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/flag-icon.min.css" | relURL }}"/>
<link rel="stylesheet" href="{{ "/css/katex.min.css" | relURL }}">
<link rel="stylesheet" href="{{ "/fonts/Muli.css" | relURL }}">
<link rel="stylesheet" href="{{ "/fonts/Font-Awesome-5.11.2.css" | relURL }}">

<!--================= fab-icon =========================-->
{{/* add favicon only if the site author has provided the the favicon */}}
{{ if site.Params.logo.favicon }}
  {{ $favicon := site.Params.logo.favicon }}

  {{/* resize the favicon. don't resize svg because it is not supported */}}
  {{ $favicon = resources.Get $favicon }}
  {{ if and $favicon (ne $favicon.MediaType.SubType "svg") }}
    {{ $favicon = $favicon.Resize "42x" }}
  {{ end }}
  {{ $favicon = $favicon.RelPermalink}}

  <link rel="icon" type="image/png" href="{{ $favicon }}" />
{{end}}


<!--================ Plausible stats ====================-->
<script defer data-domain="antoine.vadot.me" src="https://stats.nebulae.co/js/plausible.js"></script>